<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @teacher.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @teacher.last %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
